[Unit]
Description=Janus WebRTC Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/janus/bin/janus  -C /opt/janus/etc/janus/janus.jcfg -A -L /tmp/janus.log
Restart=on-abnormal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target